MISUI/MISUI/Web References/ServiceUserMgmt/UserManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHd" type="tns:AuthSoapHd" />
      <s:complexType name="AuthSoapHd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userBo" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameEng" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameNep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Office" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Organizarion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableDisable" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLocked" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchUserListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAllUserType">
        <s:complexType />
      </s:element>
      <s:element name="FetchAllUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAllUserTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchUserDetailsByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserByOfficeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uBo" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserByOfficeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUserByOfficeIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserBo" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnlockUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LockUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="FetchUserListSoapIn">
    <wsdl:part name="parameters" element="tns:FetchUserList" />
  </wsdl:message>
  <wsdl:message name="FetchUserListSoapOut">
    <wsdl:part name="parameters" element="tns:FetchUserListResponse" />
  </wsdl:message>
  <wsdl:message name="FetchUserListAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="FetchAllUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAllUserType" />
  </wsdl:message>
  <wsdl:message name="FetchAllUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAllUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAllUserTypeAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="FetchUserDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FetchUserDetailsById" />
  </wsdl:message>
  <wsdl:message name="FetchUserDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FetchUserDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="FetchUserDetailsByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="DeleteUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserById" />
  </wsdl:message>
  <wsdl:message name="DeleteUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SearchUserByOfficeIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUserByOfficeId" />
  </wsdl:message>
  <wsdl:message name="SearchUserByOfficeIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUserByOfficeIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUserByOfficeIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="UpdateUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserById" />
  </wsdl:message>
  <wsdl:message name="UpdateUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="UnlockUserSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="UnlockUserSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockUserAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="LockUserSoapIn">
    <wsdl:part name="parameters" element="tns:LockUser" />
  </wsdl:message>
  <wsdl:message name="LockUserSoapOut">
    <wsdl:part name="parameters" element="tns:LockUserResponse" />
  </wsdl:message>
  <wsdl:message name="LockUserAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:portType name="UserManagementServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchUserList">
      <wsdl:input message="tns:FetchUserListSoapIn" />
      <wsdl:output message="tns:FetchUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllUserType">
      <wsdl:input message="tns:FetchAllUserTypeSoapIn" />
      <wsdl:output message="tns:FetchAllUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchUserDetailsById">
      <wsdl:input message="tns:FetchUserDetailsByIdSoapIn" />
      <wsdl:output message="tns:FetchUserDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <wsdl:input message="tns:DeleteUserByIdSoapIn" />
      <wsdl:output message="tns:DeleteUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUserByOfficeId">
      <wsdl:input message="tns:SearchUserByOfficeIdSoapIn" />
      <wsdl:output message="tns:SearchUserByOfficeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserById">
      <wsdl:input message="tns:UpdateUserByIdSoapIn" />
      <wsdl:output message="tns:UpdateUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:input message="tns:UnlockUserSoapIn" />
      <wsdl:output message="tns:UnlockUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <wsdl:input message="tns:LockUserSoapIn" />
      <wsdl:output message="tns:LockUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagementServiceSoap" type="tns:UserManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserList">
      <soap:operation soapAction="http://tempuri.org/FetchUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchUserListAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllUserType">
      <soap:operation soapAction="http://tempuri.org/FetchAllUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchAllUserTypeAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserDetailsById">
      <soap:operation soapAction="http://tempuri.org/FetchUserDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchUserDetailsByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <soap:operation soapAction="http://tempuri.org/DeleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteUserByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserByOfficeId">
      <soap:operation soapAction="http://tempuri.org/SearchUserByOfficeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchUserByOfficeIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserById">
      <soap:operation soapAction="http://tempuri.org/UpdateUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateUserByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UnlockUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <soap:operation soapAction="http://tempuri.org/LockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LockUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagementServiceSoap12" type="tns:UserManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserList">
      <soap12:operation soapAction="http://tempuri.org/FetchUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchUserListAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllUserType">
      <soap12:operation soapAction="http://tempuri.org/FetchAllUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchAllUserTypeAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserDetailsById">
      <soap12:operation soapAction="http://tempuri.org/FetchUserDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchUserDetailsByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteUserByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserByOfficeId">
      <soap12:operation soapAction="http://tempuri.org/SearchUserByOfficeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchUserByOfficeIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserById">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateUserByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap12:operation soapAction="http://tempuri.org/UnlockUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UnlockUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <soap12:operation soapAction="http://tempuri.org/LockUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LockUserAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementService">
    <wsdl:port name="UserManagementServiceSoap" binding="tns:UserManagementServiceSoap">
      <soap:address location="http://localhost:7404/UserManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagementServiceSoap12" binding="tns:UserManagementServiceSoap12">
      <soap12:address location="http://localhost:7404/UserManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>