MISUI/MISUI/Web References/ServiceActivityMgmt/ActivityManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateActivityOutputMapDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityOutputMap" type="tns:ActivityOutputMapBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivityOutputMapBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ActivityOutputMapId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivityDetailId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivityOutputId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FiscalYearId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Isenabled" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Islocked" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PopulateActivityOutputMapDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateActivityOutputMapDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHd" type="tns:AuthSoapHd" />
      <s:complexType name="AuthSoapHd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PopulateActivityDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivityDetailBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ActivityDetailId" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivityDetailEngName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivityDetailNepName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivityUnitId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Isenable" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Islocked" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivitySubSectorId" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PopulateActivityDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateActivityDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityDetailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityDetailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectActivityDetailByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivityDetailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectActivityUnitResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityOutputMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityMapBo" type="tns:ActivityOutputMapBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityOutputMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivityOutputMapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityOutputById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityOutputMapBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityOutputByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectActivityOutputByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityDetailBySector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityDetailBySectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectActivityDetailBySectorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityOutputBySector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objActivityDetail" type="tns:ActivityDetailBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectActivityOutputBySectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectActivityOutputBySectorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateActivityOutputMapDetailSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateActivityOutputMapDetail" />
  </wsdl:message>
  <wsdl:message name="PopulateActivityOutputMapDetailSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateActivityOutputMapDetailResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateActivityOutputMapDetailAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="PopulateActivityDetailSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateActivityDetail" />
  </wsdl:message>
  <wsdl:message name="PopulateActivityDetailSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateActivityDetailResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateActivityDetailAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectActivityDetailById" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectActivityDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="ActivityDetailSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityDetail" />
  </wsdl:message>
  <wsdl:message name="ActivityDetailSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityDetailAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SelectActivityUnitSoapIn">
    <wsdl:part name="parameters" element="tns:SelectActivityUnit" />
  </wsdl:message>
  <wsdl:message name="SelectActivityUnitSoapOut">
    <wsdl:part name="parameters" element="tns:SelectActivityUnitResponse" />
  </wsdl:message>
  <wsdl:message name="SelectActivityUnitAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="ActivityOutputMapSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityOutputMap" />
  </wsdl:message>
  <wsdl:message name="ActivityOutputMapSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityOutputMapResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityOutputMapAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectActivityOutputById" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectActivityOutputByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailBySectorSoapIn">
    <wsdl:part name="parameters" element="tns:SelectActivityDetailBySector" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailBySectorSoapOut">
    <wsdl:part name="parameters" element="tns:SelectActivityDetailBySectorResponse" />
  </wsdl:message>
  <wsdl:message name="SelectActivityDetailBySectorAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputBySectorSoapIn">
    <wsdl:part name="parameters" element="tns:SelectActivityOutputBySector" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputBySectorSoapOut">
    <wsdl:part name="parameters" element="tns:SelectActivityOutputBySectorResponse" />
  </wsdl:message>
  <wsdl:message name="SelectActivityOutputBySectorAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:portType name="ActivityManagementServiceSoap">
    <wsdl:operation name="PopulateActivityOutputMapDetail">
      <wsdl:input message="tns:PopulateActivityOutputMapDetailSoapIn" />
      <wsdl:output message="tns:PopulateActivityOutputMapDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateActivityDetail">
      <wsdl:input message="tns:PopulateActivityDetailSoapIn" />
      <wsdl:output message="tns:PopulateActivityDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailById">
      <wsdl:input message="tns:SelectActivityDetailByIdSoapIn" />
      <wsdl:output message="tns:SelectActivityDetailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityDetail">
      <wsdl:input message="tns:ActivityDetailSoapIn" />
      <wsdl:output message="tns:ActivityDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectActivityUnit">
      <wsdl:input message="tns:SelectActivityUnitSoapIn" />
      <wsdl:output message="tns:SelectActivityUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityOutputMap">
      <wsdl:input message="tns:ActivityOutputMapSoapIn" />
      <wsdl:output message="tns:ActivityOutputMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputById">
      <wsdl:input message="tns:SelectActivityOutputByIdSoapIn" />
      <wsdl:output message="tns:SelectActivityOutputByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailBySector">
      <wsdl:input message="tns:SelectActivityDetailBySectorSoapIn" />
      <wsdl:output message="tns:SelectActivityDetailBySectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputBySector">
      <wsdl:input message="tns:SelectActivityOutputBySectorSoapIn" />
      <wsdl:output message="tns:SelectActivityOutputBySectorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivityManagementServiceSoap" type="tns:ActivityManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateActivityOutputMapDetail">
      <soap:operation soapAction="http://tempuri.org/PopulateActivityOutputMapDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PopulateActivityOutputMapDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateActivityDetail">
      <soap:operation soapAction="http://tempuri.org/PopulateActivityDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PopulateActivityDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailById">
      <soap:operation soapAction="http://tempuri.org/SelectActivityDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SelectActivityDetailByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityDetail">
      <soap:operation soapAction="http://tempuri.org/ActivityDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ActivityDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityUnit">
      <soap:operation soapAction="http://tempuri.org/SelectActivityUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SelectActivityUnitAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityOutputMap">
      <soap:operation soapAction="http://tempuri.org/ActivityOutputMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ActivityOutputMapAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputById">
      <soap:operation soapAction="http://tempuri.org/SelectActivityOutputById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SelectActivityOutputByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailBySector">
      <soap:operation soapAction="http://tempuri.org/SelectActivityDetailBySector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SelectActivityDetailBySectorAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputBySector">
      <soap:operation soapAction="http://tempuri.org/SelectActivityOutputBySector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SelectActivityOutputBySectorAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivityManagementServiceSoap12" type="tns:ActivityManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateActivityOutputMapDetail">
      <soap12:operation soapAction="http://tempuri.org/PopulateActivityOutputMapDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PopulateActivityOutputMapDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateActivityDetail">
      <soap12:operation soapAction="http://tempuri.org/PopulateActivityDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PopulateActivityDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailById">
      <soap12:operation soapAction="http://tempuri.org/SelectActivityDetailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SelectActivityDetailByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityDetail">
      <soap12:operation soapAction="http://tempuri.org/ActivityDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ActivityDetailAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityUnit">
      <soap12:operation soapAction="http://tempuri.org/SelectActivityUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SelectActivityUnitAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityOutputMap">
      <soap12:operation soapAction="http://tempuri.org/ActivityOutputMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ActivityOutputMapAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputById">
      <soap12:operation soapAction="http://tempuri.org/SelectActivityOutputById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SelectActivityOutputByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityDetailBySector">
      <soap12:operation soapAction="http://tempuri.org/SelectActivityDetailBySector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SelectActivityDetailBySectorAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectActivityOutputBySector">
      <soap12:operation soapAction="http://tempuri.org/SelectActivityOutputBySector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SelectActivityOutputBySectorAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityManagementService">
    <wsdl:port name="ActivityManagementServiceSoap" binding="tns:ActivityManagementServiceSoap">
      <soap:address location="http://localhost:7404/ActivityManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivityManagementServiceSoap12" binding="tns:ActivityManagementServiceSoap12">
      <soap12:address location="http://localhost:7404/ActivityManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>