MISUI/MISUI/Web References/ServiceMenuOffice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHd" type="tns:AuthSoapHd" />
      <s:complexType name="AuthSoapHd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PopulateMinistryDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateMinistryDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateMinistryDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMinistry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objComMinistry" type="tns:ComMinistry" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComMinistry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ministryEnglishName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ministryNepaliName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ministryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMinistryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMinistryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllMinistries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllMinistriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllMinistriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateMinistries">
        <s:complexType />
      </s:element>
      <s:element name="PopulateMinistriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateMinistriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateMinistriesForMap">
        <s:complexType />
      </s:element>
      <s:element name="PopulateMinistriesForMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateMinistriesForMapResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteMinistry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteMinistryResponse">
        <s:complexType />
      </s:element>
      <s:element name="PopulateAllBudgetHeads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllBudgetHeadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllBudgetHeadsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllProjectsByMinistryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllProjectsByMinistryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllProjectsByMinistryIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllProjectsByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllProjectsByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllProjectsByUserIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePPByMinistryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePPByMinistryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePPByMinistryIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePPByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePPByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePPByUserIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePSByMinistryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePSByMinistryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePSByMinistryIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePSPEByMinistryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chaumasikId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePSPEByMinistryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePSPEByMinistryIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePBasicByMinistryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePBasicByMinistryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePBasicByMinistryIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePBasicByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fiscalYearId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulatePBasicByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulatePBasicByUserIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllBudgetHeadsByOfficeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="officeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllBudgetHeadsByOfficeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllBudgetHeadsByOfficeIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllBudgetHeadsByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllBudgetHeadsByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllBudgetHeadsByUserIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudgetHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteBudgetHeadResponse">
        <s:complexType />
      </s:element>
      <s:element name="PopulateBudgetHeadDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateBudgetHeadDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateBudgetHeadDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchDistrict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchDistrictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchDistrictResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAllRole">
        <s:complexType />
      </s:element>
      <s:element name="FetchAllRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAllRoleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateDistrict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="populateDistrictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="populateDistrictResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditBudgetHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objBudget" type="tns:ComBudgetHeadBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComBudgetHeadBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BudgetHeadEngName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BudgetHeadNepName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BudgetCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BudgetHeadId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FiscalYearId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnable" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLocked" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEditBudgetHeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEditBudgetHeadResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateFiscalYear">
        <s:complexType />
      </s:element>
      <s:element name="PopulateFiscalYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateFiscalYearResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockBudgetHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockBudgetHeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LockBudgetHeadResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockBudgetHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockBudgetHeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnlockBudgetHeadResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearBudgetOrganizationMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearBudgetOrganizationMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClearBudgetOrganizationMapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBudgetOrganizationMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="officeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBudgetOrganizationMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertBudgetOrganizationMapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateBudgetOrganizationMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateBudgetOrganizationMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateBudgetOrganizationMapResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllOffices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllOfficesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllOfficesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearBudgetUserMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="officeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearBudgetUserMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClearBudgetUserMapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBudgetUserMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ministryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="officeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBudgetUserMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertBudgetUserMapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateBudgetUserMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="budgetHeadId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateBudgetUserMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateBudgetUserMapResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllUsersByOfficeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="officeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateAllUsersByOfficeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateAllUsersByOfficeIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistryDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateMinistryDetails" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistryDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateMinistryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistryDetailsAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="AddMinistrySoapIn">
    <wsdl:part name="parameters" element="tns:AddMinistry" />
  </wsdl:message>
  <wsdl:message name="AddMinistrySoapOut">
    <wsdl:part name="parameters" element="tns:AddMinistryResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllMinistriesSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllMinistries" />
  </wsdl:message>
  <wsdl:message name="PopulateAllMinistriesSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllMinistriesResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistriesSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateMinistries" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistriesSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateMinistriesResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistriesForMapSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateMinistriesForMap" />
  </wsdl:message>
  <wsdl:message name="PopulateMinistriesForMapSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateMinistriesForMapResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMinistrySoapIn">
    <wsdl:part name="parameters" element="tns:deleteMinistry" />
  </wsdl:message>
  <wsdl:message name="deleteMinistrySoapOut">
    <wsdl:part name="parameters" element="tns:deleteMinistryResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeads" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeadsResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllProjectsByMinistryIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllProjectsByMinistryId" />
  </wsdl:message>
  <wsdl:message name="PopulateAllProjectsByMinistryIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllProjectsByMinistryIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllProjectsByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllProjectsByUserId" />
  </wsdl:message>
  <wsdl:message name="PopulateAllProjectsByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllProjectsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePPByMinistryIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePPByMinistryId" />
  </wsdl:message>
  <wsdl:message name="PopulatePPByMinistryIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePPByMinistryIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePPByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePPByUserId" />
  </wsdl:message>
  <wsdl:message name="PopulatePPByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePPByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePSByMinistryIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePSByMinistryId" />
  </wsdl:message>
  <wsdl:message name="PopulatePSByMinistryIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePSByMinistryIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePSPEByMinistryIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePSPEByMinistryId" />
  </wsdl:message>
  <wsdl:message name="PopulatePSPEByMinistryIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePSPEByMinistryIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePBasicByMinistryIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePBasicByMinistryId" />
  </wsdl:message>
  <wsdl:message name="PopulatePBasicByMinistryIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePBasicByMinistryIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulatePBasicByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulatePBasicByUserId" />
  </wsdl:message>
  <wsdl:message name="PopulatePBasicByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulatePBasicByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsByOfficeIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeadsByOfficeId" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsByOfficeIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeadsByOfficeIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeadsByUserId" />
  </wsdl:message>
  <wsdl:message name="PopulateAllBudgetHeadsByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllBudgetHeadsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="deleteBudgetHeadSoapIn">
    <wsdl:part name="parameters" element="tns:deleteBudgetHead" />
  </wsdl:message>
  <wsdl:message name="deleteBudgetHeadSoapOut">
    <wsdl:part name="parameters" element="tns:deleteBudgetHeadResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetHeadDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateBudgetHeadDetails" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetHeadDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateBudgetHeadDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchDistrictSoapIn">
    <wsdl:part name="parameters" element="tns:FetchDistrict" />
  </wsdl:message>
  <wsdl:message name="FetchDistrictSoapOut">
    <wsdl:part name="parameters" element="tns:FetchDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAllRoleSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAllRole" />
  </wsdl:message>
  <wsdl:message name="FetchAllRoleSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAllRoleResponse" />
  </wsdl:message>
  <wsdl:message name="populateDistrictSoapIn">
    <wsdl:part name="parameters" element="tns:populateDistrict" />
  </wsdl:message>
  <wsdl:message name="populateDistrictSoapOut">
    <wsdl:part name="parameters" element="tns:populateDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditBudgetHeadSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditBudgetHead" />
  </wsdl:message>
  <wsdl:message name="AddEditBudgetHeadSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditBudgetHeadResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateFiscalYearSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateFiscalYear" />
  </wsdl:message>
  <wsdl:message name="PopulateFiscalYearSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateFiscalYearResponse" />
  </wsdl:message>
  <wsdl:message name="LockBudgetHeadSoapIn">
    <wsdl:part name="parameters" element="tns:LockBudgetHead" />
  </wsdl:message>
  <wsdl:message name="LockBudgetHeadSoapOut">
    <wsdl:part name="parameters" element="tns:LockBudgetHeadResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockBudgetHeadSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockBudgetHead" />
  </wsdl:message>
  <wsdl:message name="UnlockBudgetHeadSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockBudgetHeadResponse" />
  </wsdl:message>
  <wsdl:message name="ClearBudgetOrganizationMapSoapIn">
    <wsdl:part name="parameters" element="tns:ClearBudgetOrganizationMap" />
  </wsdl:message>
  <wsdl:message name="ClearBudgetOrganizationMapSoapOut">
    <wsdl:part name="parameters" element="tns:ClearBudgetOrganizationMapResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBudgetOrganizationMapSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBudgetOrganizationMap" />
  </wsdl:message>
  <wsdl:message name="InsertBudgetOrganizationMapSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBudgetOrganizationMapResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetOrganizationMapSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateBudgetOrganizationMap" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetOrganizationMapSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateBudgetOrganizationMapResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllOfficesSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllOffices" />
  </wsdl:message>
  <wsdl:message name="PopulateAllOfficesSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllOfficesResponse" />
  </wsdl:message>
  <wsdl:message name="ClearBudgetUserMapSoapIn">
    <wsdl:part name="parameters" element="tns:ClearBudgetUserMap" />
  </wsdl:message>
  <wsdl:message name="ClearBudgetUserMapSoapOut">
    <wsdl:part name="parameters" element="tns:ClearBudgetUserMapResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBudgetUserMapSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBudgetUserMap" />
  </wsdl:message>
  <wsdl:message name="InsertBudgetUserMapSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBudgetUserMapResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetUserMapSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateBudgetUserMap" />
  </wsdl:message>
  <wsdl:message name="PopulateBudgetUserMapSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateBudgetUserMapResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateAllUsersByOfficeIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateAllUsersByOfficeId" />
  </wsdl:message>
  <wsdl:message name="PopulateAllUsersByOfficeIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateAllUsersByOfficeIdResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistryDetails">
      <wsdl:input message="tns:PopulateMinistryDetailsSoapIn" />
      <wsdl:output message="tns:PopulateMinistryDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMinistry">
      <wsdl:input message="tns:AddMinistrySoapIn" />
      <wsdl:output message="tns:AddMinistrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllMinistries">
      <wsdl:input message="tns:PopulateAllMinistriesSoapIn" />
      <wsdl:output message="tns:PopulateAllMinistriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistries">
      <wsdl:input message="tns:PopulateMinistriesSoapIn" />
      <wsdl:output message="tns:PopulateMinistriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistriesForMap">
      <wsdl:input message="tns:PopulateMinistriesForMapSoapIn" />
      <wsdl:output message="tns:PopulateMinistriesForMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMinistry">
      <wsdl:input message="tns:deleteMinistrySoapIn" />
      <wsdl:output message="tns:deleteMinistrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeads">
      <wsdl:input message="tns:PopulateAllBudgetHeadsSoapIn" />
      <wsdl:output message="tns:PopulateAllBudgetHeadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByMinistryId">
      <wsdl:input message="tns:PopulateAllProjectsByMinistryIdSoapIn" />
      <wsdl:output message="tns:PopulateAllProjectsByMinistryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByUserId">
      <wsdl:input message="tns:PopulateAllProjectsByUserIdSoapIn" />
      <wsdl:output message="tns:PopulateAllProjectsByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByMinistryId">
      <wsdl:input message="tns:PopulatePPByMinistryIdSoapIn" />
      <wsdl:output message="tns:PopulatePPByMinistryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByUserId">
      <wsdl:input message="tns:PopulatePPByUserIdSoapIn" />
      <wsdl:output message="tns:PopulatePPByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePSByMinistryId">
      <wsdl:input message="tns:PopulatePSByMinistryIdSoapIn" />
      <wsdl:output message="tns:PopulatePSByMinistryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePSPEByMinistryId">
      <wsdl:input message="tns:PopulatePSPEByMinistryIdSoapIn" />
      <wsdl:output message="tns:PopulatePSPEByMinistryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByMinistryId">
      <wsdl:input message="tns:PopulatePBasicByMinistryIdSoapIn" />
      <wsdl:output message="tns:PopulatePBasicByMinistryIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByUserId">
      <wsdl:input message="tns:PopulatePBasicByUserIdSoapIn" />
      <wsdl:output message="tns:PopulatePBasicByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByOfficeId">
      <wsdl:input message="tns:PopulateAllBudgetHeadsByOfficeIdSoapIn" />
      <wsdl:output message="tns:PopulateAllBudgetHeadsByOfficeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByUserId">
      <wsdl:input message="tns:PopulateAllBudgetHeadsByUserIdSoapIn" />
      <wsdl:output message="tns:PopulateAllBudgetHeadsByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteBudgetHead">
      <wsdl:input message="tns:deleteBudgetHeadSoapIn" />
      <wsdl:output message="tns:deleteBudgetHeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetHeadDetails">
      <wsdl:input message="tns:PopulateBudgetHeadDetailsSoapIn" />
      <wsdl:output message="tns:PopulateBudgetHeadDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchDistrict">
      <wsdl:input message="tns:FetchDistrictSoapIn" />
      <wsdl:output message="tns:FetchDistrictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllRole">
      <wsdl:input message="tns:FetchAllRoleSoapIn" />
      <wsdl:output message="tns:FetchAllRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="populateDistrict">
      <wsdl:input message="tns:populateDistrictSoapIn" />
      <wsdl:output message="tns:populateDistrictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditBudgetHead">
      <wsdl:input message="tns:AddEditBudgetHeadSoapIn" />
      <wsdl:output message="tns:AddEditBudgetHeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateFiscalYear">
      <wsdl:input message="tns:PopulateFiscalYearSoapIn" />
      <wsdl:output message="tns:PopulateFiscalYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockBudgetHead">
      <wsdl:input message="tns:LockBudgetHeadSoapIn" />
      <wsdl:output message="tns:LockBudgetHeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockBudgetHead">
      <wsdl:input message="tns:UnlockBudgetHeadSoapIn" />
      <wsdl:output message="tns:UnlockBudgetHeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetOrganizationMap">
      <wsdl:input message="tns:ClearBudgetOrganizationMapSoapIn" />
      <wsdl:output message="tns:ClearBudgetOrganizationMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetOrganizationMap">
      <wsdl:input message="tns:InsertBudgetOrganizationMapSoapIn" />
      <wsdl:output message="tns:InsertBudgetOrganizationMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetOrganizationMap">
      <wsdl:input message="tns:PopulateBudgetOrganizationMapSoapIn" />
      <wsdl:output message="tns:PopulateBudgetOrganizationMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllOffices">
      <wsdl:input message="tns:PopulateAllOfficesSoapIn" />
      <wsdl:output message="tns:PopulateAllOfficesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetUserMap">
      <wsdl:input message="tns:ClearBudgetUserMapSoapIn" />
      <wsdl:output message="tns:ClearBudgetUserMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetUserMap">
      <wsdl:input message="tns:InsertBudgetUserMapSoapIn" />
      <wsdl:output message="tns:InsertBudgetUserMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetUserMap">
      <wsdl:input message="tns:PopulateBudgetUserMapSoapIn" />
      <wsdl:output message="tns:PopulateBudgetUserMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateAllUsersByOfficeId">
      <wsdl:input message="tns:PopulateAllUsersByOfficeIdSoapIn" />
      <wsdl:output message="tns:PopulateAllUsersByOfficeIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistryDetails">
      <soap:operation soapAction="http://tempuri.org/PopulateMinistryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PopulateMinistryDetailsAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMinistry">
      <soap:operation soapAction="http://tempuri.org/AddMinistry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllMinistries">
      <soap:operation soapAction="http://tempuri.org/PopulateAllMinistries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistries">
      <soap:operation soapAction="http://tempuri.org/PopulateMinistries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistriesForMap">
      <soap:operation soapAction="http://tempuri.org/PopulateMinistriesForMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMinistry">
      <soap:operation soapAction="http://tempuri.org/deleteMinistry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeads">
      <soap:operation soapAction="http://tempuri.org/PopulateAllBudgetHeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByMinistryId">
      <soap:operation soapAction="http://tempuri.org/PopulateAllProjectsByMinistryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByUserId">
      <soap:operation soapAction="http://tempuri.org/PopulateAllProjectsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByMinistryId">
      <soap:operation soapAction="http://tempuri.org/PopulatePPByMinistryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByUserId">
      <soap:operation soapAction="http://tempuri.org/PopulatePPByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePSByMinistryId">
      <soap:operation soapAction="http://tempuri.org/PopulatePSByMinistryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePSPEByMinistryId">
      <soap:operation soapAction="http://tempuri.org/PopulatePSPEByMinistryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByMinistryId">
      <soap:operation soapAction="http://tempuri.org/PopulatePBasicByMinistryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByUserId">
      <soap:operation soapAction="http://tempuri.org/PopulatePBasicByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByOfficeId">
      <soap:operation soapAction="http://tempuri.org/PopulateAllBudgetHeadsByOfficeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByUserId">
      <soap:operation soapAction="http://tempuri.org/PopulateAllBudgetHeadsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudgetHead">
      <soap:operation soapAction="http://tempuri.org/deleteBudgetHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetHeadDetails">
      <soap:operation soapAction="http://tempuri.org/PopulateBudgetHeadDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchDistrict">
      <soap:operation soapAction="http://tempuri.org/FetchDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllRole">
      <soap:operation soapAction="http://tempuri.org/FetchAllRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateDistrict">
      <soap:operation soapAction="http://tempuri.org/populateDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditBudgetHead">
      <soap:operation soapAction="http://tempuri.org/AddEditBudgetHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateFiscalYear">
      <soap:operation soapAction="http://tempuri.org/PopulateFiscalYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockBudgetHead">
      <soap:operation soapAction="http://tempuri.org/LockBudgetHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockBudgetHead">
      <soap:operation soapAction="http://tempuri.org/UnlockBudgetHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetOrganizationMap">
      <soap:operation soapAction="http://tempuri.org/ClearBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetOrganizationMap">
      <soap:operation soapAction="http://tempuri.org/InsertBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetOrganizationMap">
      <soap:operation soapAction="http://tempuri.org/PopulateBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllOffices">
      <soap:operation soapAction="http://tempuri.org/PopulateAllOffices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetUserMap">
      <soap:operation soapAction="http://tempuri.org/ClearBudgetUserMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetUserMap">
      <soap:operation soapAction="http://tempuri.org/InsertBudgetUserMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetUserMap">
      <soap:operation soapAction="http://tempuri.org/PopulateBudgetUserMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllUsersByOfficeId">
      <soap:operation soapAction="http://tempuri.org/PopulateAllUsersByOfficeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistryDetails">
      <soap12:operation soapAction="http://tempuri.org/PopulateMinistryDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PopulateMinistryDetailsAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMinistry">
      <soap12:operation soapAction="http://tempuri.org/AddMinistry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllMinistries">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllMinistries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistries">
      <soap12:operation soapAction="http://tempuri.org/PopulateMinistries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateMinistriesForMap">
      <soap12:operation soapAction="http://tempuri.org/PopulateMinistriesForMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMinistry">
      <soap12:operation soapAction="http://tempuri.org/deleteMinistry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeads">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllBudgetHeads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByMinistryId">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllProjectsByMinistryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllProjectsByUserId">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllProjectsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByMinistryId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePPByMinistryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePPByUserId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePPByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePSByMinistryId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePSByMinistryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePSPEByMinistryId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePSPEByMinistryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByMinistryId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePBasicByMinistryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulatePBasicByUserId">
      <soap12:operation soapAction="http://tempuri.org/PopulatePBasicByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByOfficeId">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllBudgetHeadsByOfficeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllBudgetHeadsByUserId">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllBudgetHeadsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBudgetHead">
      <soap12:operation soapAction="http://tempuri.org/deleteBudgetHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetHeadDetails">
      <soap12:operation soapAction="http://tempuri.org/PopulateBudgetHeadDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchDistrict">
      <soap12:operation soapAction="http://tempuri.org/FetchDistrict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllRole">
      <soap12:operation soapAction="http://tempuri.org/FetchAllRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="populateDistrict">
      <soap12:operation soapAction="http://tempuri.org/populateDistrict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditBudgetHead">
      <soap12:operation soapAction="http://tempuri.org/AddEditBudgetHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateFiscalYear">
      <soap12:operation soapAction="http://tempuri.org/PopulateFiscalYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockBudgetHead">
      <soap12:operation soapAction="http://tempuri.org/LockBudgetHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockBudgetHead">
      <soap12:operation soapAction="http://tempuri.org/UnlockBudgetHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetOrganizationMap">
      <soap12:operation soapAction="http://tempuri.org/ClearBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetOrganizationMap">
      <soap12:operation soapAction="http://tempuri.org/InsertBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetOrganizationMap">
      <soap12:operation soapAction="http://tempuri.org/PopulateBudgetOrganizationMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllOffices">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllOffices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearBudgetUserMap">
      <soap12:operation soapAction="http://tempuri.org/ClearBudgetUserMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBudgetUserMap">
      <soap12:operation soapAction="http://tempuri.org/InsertBudgetUserMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateBudgetUserMap">
      <soap12:operation soapAction="http://tempuri.org/PopulateBudgetUserMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateAllUsersByOfficeId">
      <soap12:operation soapAction="http://tempuri.org/PopulateAllUsersByOfficeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:7404/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:7404/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>