MISUI/MISUI/Web References/ServiceRoleMgmt/RoleManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objRoles" type="tns:Roles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Roles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleEngName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleNepName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Isenable" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Islocked" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PopulateRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateRoleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHd" type="tns:AuthSoapHd" />
      <s:complexType name="AuthSoapHd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PopulateRoleById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objRoles" type="tns:Roles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PopulateRoleByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateRoleByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objRoles" type="tns:Roles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRoleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateRoleSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateRole" />
  </wsdl:message>
  <wsdl:message name="PopulateRoleSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateRoleAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="PopulateRoleByIdSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateRoleById" />
  </wsdl:message>
  <wsdl:message name="PopulateRoleByIdSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="PopulateRoleByIdAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapIn">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoleAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:portType name="RoleManagementSoap">
    <wsdl:operation name="PopulateRole">
      <wsdl:input message="tns:PopulateRoleSoapIn" />
      <wsdl:output message="tns:PopulateRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PopulateRoleById">
      <wsdl:input message="tns:PopulateRoleByIdSoapIn" />
      <wsdl:output message="tns:PopulateRoleByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input message="tns:AddRoleSoapIn" />
      <wsdl:output message="tns:AddRoleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleManagementSoap" type="tns:RoleManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateRole">
      <soap:operation soapAction="http://tempuri.org/PopulateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PopulateRoleAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateRoleById">
      <soap:operation soapAction="http://tempuri.org/PopulateRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PopulateRoleByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRoleAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoleManagementSoap12" type="tns:RoleManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateRole">
      <soap12:operation soapAction="http://tempuri.org/PopulateRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PopulateRoleAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopulateRoleById">
      <soap12:operation soapAction="http://tempuri.org/PopulateRoleById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PopulateRoleByIdAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddRoleAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleManagement">
    <wsdl:port name="RoleManagementSoap" binding="tns:RoleManagementSoap">
      <soap:address location="http://localhost:7404/RoleManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="RoleManagementSoap12" binding="tns:RoleManagementSoap12">
      <soap12:address location="http://localhost:7404/RoleManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>